<h2>
    <%= @post.content %><br>
    <%= @post.gamer_tag %><br>
    <%= @post.game %><br>
    <%= @post.platform %>
</h2>

<a href="/posts/<%= @post.id %>/edit">EDIT</a>

<form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="delete"> 
    <input type="submit" value="Delete Post">
</form>